@model PortfolioImages


<div class="container pt-5">

    <div class="container">
        <h1 style="text-align:center">Update PortfolioImages</h1>
    </div>



    <form method="post">
        <div class="form-group">
            <label asp-for="PortfolioId">Portfolio Id</label>
            <input asp-for="PortfolioId" class="form-control" placeholder="Enter PortfolioId">
            <span asp-validation-for="PortfolioId" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl">ImageUrl</label>
            <input asp-for="ImageUrl" class="form-control" placeholder="Enter ImageUrl">
            <span asp-validation-for="ImageUrl" style="color:red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>


