@model Feature


<div class="container pt-5">

    <div class="container">
        <h1 style="text-align:center">Update Feature</h1>
    </div>



    <form method="post">
        <div class="form-group">
            <label asp-for="Icon">Icon</label>
            <input asp-for="Icon" class="form-control" placeholder="Enter Icon">
            <span asp-validation-for="Icon" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Enter Left Title">
            <span asp-validation-for="Title" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Enter Right Title">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>


